!vendor/gems/cache/
*.gem
*.rbc
.*.sw*
.DS_Store
.bundle
.config
.sass-cache/*
.yardoc
InstalledFiles
_yardoc
bin/*
coverage
db/*.db
doc/
lib/bundler/man
log/**/*
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/**/*
vendor/gems/*
