body {
  margin: 20px;
  font-family: 'PT Serif', serif;
  text-align: center;
}

h1:before {
  padding: 0px 12px 0px 0px;
  vertical-align: -30%;
  content: url(/logo.png);
}

h2 {
  margin-bottom: 40px;
  font-weight: normal;
}

.post {
  textarea {
    outline: none;
    overflow: auto;
    min-width: 500px;
    min-height: 100px;
    padding: 5px;
  }

  input {
    font-size: 100%;
    padding: .5em 1.5em;
    color: #444;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #999;
    border: 0 rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: .1s linear -webkit-box-shadow;
    -moz-transition: .1s linear -moz-box-shadow;
    -ms-transition: .1s linear box-shadow;
    -o-transition: .1s linear box-shadow;
    transition: .1s linear box-shadow;
  }

  input:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
  }
}

.cli {
  margin: 0 auto;
  width: 880px;
  height: 160px;
  overflow: hidden;

 .box {
    float: left;
    margin-bottom: 20px;
    width: 440px;
    height: 140px;
    text-align: left;

    label {
      margin: 5px 10px;
      font-weight: bold;
      text-align: center;
    }

    code {
      display: block;
      margin: 10px;
      height: 80px;
      padding: 10px 15px;
      background-color: #fcf3f0;
      border: 1px solid #ccc3c0;
    }
  }
}

.donate {
  line-height: 2.3em;
  font-style: italic;
}

code .result {
  color: #666;
}

.soon {
  margin: 30px 0px 50px;
  font-style: italic;
}

@media all and (max-width: 910px) {
  .cli {
    width: 440px;
    height: 320px;
  }
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v5/sDRi4fY9bOiJUbgq53yZCXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v5/QABk9IxT-LFTJ_dQzv7xpLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v5/03aPdn7fFF3H6ngCgAlQzL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v5/Foydq9xJp--nfYIx2TBz9XbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}
