<h1>pgp.io</h1>
<h2>Anonymous, online service for sending and receiving encrypted PGP messages</h2>

<div class="cli">
  <div class="box">
    <label>Encrypt &amp; Send</label>
    <code>
      $ echo 'hello' | gpg -aesr '&lt;recipient&gt;' | pgpio<br>
      <span class="result">https://pgp.io/m/Jag61Hgz19L</span>
    </code>
  </div>
  <div class="box">
    <label>Receive &amp; Decrypt</label>
    <code>
      $ pgpio Jag61Hgz19L | gpg -d<br>
      <span class="result">hello</span>
    </code>
  </div>

  <p><a href="https://github.com/pgpio/cli">download the command-line helper</a></p>
</div>

<form action="/m" method="post">
  <div class="post">
    <label>Try it out</label>
    <textarea name="text" placeholder="Paste ASCII armored PGP message here..."></textarea>
    <p><input type="submit" value="Upload"></p>
  </div>
</form>

<div class="donate">
  <p>Donate:</p>

  1NJr9V5MnSuJeuhJAKQjqvrsrejq9VJfSN
</div>

