<!DOCTYPE html>
<html>
  <head>
    <title>pgp.io</title>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=480, maximum-scale=1.0">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
